{% extends "layout.twig" %}

{% block content %}
    {% for blogPost in blogPosts %}
        <div class="blog-post">
            <h2>{{ blogPost.title }}</h2>
            <p>Jan 1, 2018 by <a href="">Pato</a></p>
            <div class="blog-post-image">
                <img src="../public/images/entei.jpg" alt="entei image" width="700px">
            </div>
            <div class="blog-post-content">
                {{ blogPost['content'] }}
            </div>
        </div>
    {% endfor %}
{% endblock %}